body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: Arial, sans-serif;
}

#toolbar {
    position: fixed;
    bottom: 10px;  /* Добавим отступ от края экрана */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(40, 190, 70); /* Зеленый фон */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(40, 190, 70);
    border-radius: 60px;  /* Скругленные края */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Эффект тени для визуального эффекта "парения" */
    max-width: calc(100% - 40px);  /* Ограничим длину панели */
}

/* Общее оформление инструментов на панели */
#toolbar select, #toolbar button, #toolbar input[type="range"], #toolbar input[type="color"] {
    margin: 0 10px;
}

#toolbar button.selected, #toolbar select option:checked {
    background-color: rgb(101, 115, 255); /* Синий для выбранных элементов */
    color: white;
}

/* Настройка выпадающих списков для показа наверх */
#styles, #shapes {
    position: relative;
}

#styles option, #shapes option {
    position: absolute;
    bottom: 100%;
    background-color: white;
}
#brushSizeIndicatorConteiner{
    display: inline-block;
    width: 50px; /* Зафиксированный размер квадрата */
    height: 50px; /* Зафиксированный размер квадрата */
    background-color: rgb(40, 190, 70);
    position: relative;
}
/* Индикатор размера кисти */
#brushSizeIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 50%;  /* Округлый индикатор */
    background-color: rgb(40, 190, 70);
}

/* Настройки для отображения правильного размера индикатора кисти */
input[type="range"] {
    width: 150px;  /* Ширина полосы изменения размера */
}

canvas {

    margin: 0 auto;
    border: 1px solid black;
}
