<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Co-Painter Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="toolbar">
        <select id="styles">
            <option value="(No style)">No style</option>
            <option value="Cinematic">Cinematic</option>
            <option value="3D Model">3D Model</option>
            <option value="Anime">Anime</option>
            <option value="Digital Art">Digital Art</option>
            <option value="Photographic">Photographic</option>
            <option value="Pixel art">Pixel art</option>
            <option value="Fantasy art">Fantasy art</option>
            <option value="Neonpunk">Neonpunk</option>
            <option value="Manga">Manga</option>
        </select>
        <select id="shapes">
            <option value="">Select Shape</option>
            <option value="square">Square</option>
            <option value="triangle">Triangle</option>
            <option value="circle">Circle</option>
            <option value="star">Star</option>
        </select>
        <button id="fill">Fill</button>
        <button id="pencil">Pencil</button>
        <button id="eraser">Eraser</button>
        <button id="clear">Clear</button>
        <button id="line">Line</button>
        <button id="undo">Undo</button>
        <button id="redo">Redo</button>
        <input type="range" id="brushSize" min="1" max="50" value="2">
        <span id="brushSizeIndicator"></span> <!-- Индикатор размера кисти -->
    </div>

    <canvas id="drawingCanvas"></canvas>
    <button id="generate">Generate Image</button>
    <img id="result" alt="Generated Image">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>
